    <div class="row">
      <div class="carousel-holder">
        <div  id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators" >
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="i"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="slide-image" src="http://180.149.245.182:3008/storage/image/vitra_slow_chair_family_1_000.png" alt="">
              <div class="carousel-caption">
                <h4>Lorem Ipsum</h4>
              </div>
            </div>
            <div class="item">
              <img class="slide-image" src="https://az760333.vo.msecnd.net/-/media/property/lansdowne-resort/resort/lansdowne_interior_hospitality_suite_parlor3-crpd1150x500.jpg?ts=a699b0e0-40d0-48b7-84cf-b3e8e8aaa270" alt="">
              <div class="carousel-caption">
                <h4>Lorem Ipsum</h4>
              </div>
            </div>
            <div class="item">
              <img class="slide-image" src="http://180.149.245.182:3008/storage/image/tables.jpg" alt="">
              <div class="carousel-caption">
                <h4>Lorem Ipsum</h4>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!--<div class="new">-->
    </div>