
 <div class="container">
    <div class="container-register">
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="text-center text-muted">Register to NeoSTORE</h2>
          </div>
          <div class="panel-body">
            <p class="text-muted text-center">EASILY USING</p>
            <button class="btn btn-default btn-lg">
              <i class="fa fa-facebook fa-lg  text-primary" ></i>
              Facebook
            </button>
            <button class="btn btn-default btn-lg pull-right">
              <i class="fa fa-google fa-lg text-danger"></i>
              Google
            </button>

            <p class="text-muted text-center">--OR USING--</p>

            <form class="form-custom" autocomplete="on" novalidate>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email Address">
                <small class="text-danger">Please enter valid email</small>

                <input type="password" class="form-control" placeholder="Choose Password">
                <small class="text-danger">Please enter valid password</small>

                <input type="password" class="form-control" placeholder="Confirm Password">
                <small class="text-danger">Password does not matches</small>

                <input type="number" class="form-control" placeholder="Enter Phone Number">
                <small class="text-danger">Please enter phone number</small>

                <legend class="gender-legend">I'm</legend>
                <div class="checkbox">
                  <label><input type="radio" value="male" name="gender"> <strong>Male</strong> </label>
                  <label><input type="radio" value="female" name="gender"> <strong>Female</strong> </label>
                </div>
                <small class="text-danger">Please select</small>

                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
 <app-footer></app-footer>